
html {
    font-family: "Handlee", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 200%;
}


body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fcaa58;
  font-family: Roboto, sans-serif
}

.topnav {
  overflow: hidden;
  background-color: #3e454c;
  /*position: fixed;*/
}

.topnav a {
  float: left;
  display: inline-block;
  color: #eaeda1;
  text-align: center;
  padding: 17px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eaeda1;
  color: #3e454c;
}

.topnav .icon {
  display: none;
}

.social {
  height: 9vh;
  /*width: %;*/

}
.heading {
  font-family: "Indie Flower", sans-serif;
  font-size: 40px;
  color: #bc1094;
  text-align: center;
}

.icons {
  position: relative;
  left: 32%;
  bottom: 15vh;
  border-spacing: 35px;

}

.icons img:hover {
  height: 11vh;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #ed8a55;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

