
body {
    color: #FFFFFF;
    width: 100%;
    margin: 0px;
    padding:0px;
    font-family: Arial;
    background-attachment: fixed;
    background-image: url("../img/back2.jpg");
    height: 95vh;
    background-position: 0 0;
  }
h1 {
  font-weight: bold;
  height: 45px;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding:0px;
  font-size: 5vw;
  position: absolute  ;

}
#h12 {
  font-weight: bold;
  height: 45px;
  color: #FFFFFF;
  width:100%;
  text-align: center;

  font-size: 4vw;

}
#caption {
  font-weight: bold;
  height: 38px;
  color: #FFFFFF;
  width:100%;
  text-align: center;

  font-size: 4vw;
}
.after {
  position:absolute; 
  border:0;
}


  body {margin: 0;}

ul.topnav { 
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a.active {background-color: rgb(219, 114, 28);}

ul.topnav li.right {float: right;}

 @media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}

  body{
    background-position: 60% 10%;
  }
  .pics{
    float:right;
    margin:auto;
  }
  #imgalign {
    display: none;
  }
  #h12 {
    font-size: 56px;
  }

}  

.button {
  border: none;
  color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: white;
}
 .button2 {
   position: relative;
   width:100%;
   margin: 0 auto;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  margin: 0 auto;

  font-size: 16px;
  cursor: pointer;
  background-color: #008CBA;
} 
.button2:hover {
  background-color: rgb(1, 119, 158);
}
input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  position: relative;
  width: 30%;
  background-color: rgb(219, 114, 28);
  color: white;
  padding: 14px 20px;
  margin-left: 30.5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

input[type=submit]:hover {
  background-color: rgb(173, 84, 10);
}
.forms {
  border-radius: 5px;
  padding: 20px;
}
.tablaclass {
  text-align: center;
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid rgb(219, 114, 28);
  font-size: 20px;
  border-spacing: 10px 10px;
  height: 20px;
}
.tablaclass1 {
  background-color: rgb(219, 114, 28);
}
.tablaclass2 {
  background-color: #666666;
}
.field {
  border: 1px solid rgb(219, 114, 28);
}
#feedback {
  font-size: 56px;
  width: 100%;
  text-align: center;
}
#h13 {
  font-weight: bold;
  height: 45px;
  color: #FFFFFF;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding-bottom:24%;
  font-size: 48px;
  position: absolute  ;

}

.pici {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:310px;

}
.ipics {
  position: relative;
  z-index: 9999;
}
footer {
  position: fixed;
}
#myBtn {
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}